<!-- About Section -->
<section class="success" id="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Mission</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <p>Trash Radar's main goal is to provide a direct channel of communication between citizens and public servants responsible for picking up trash. Allowing people to enjoy a clean community by reducing the time garbage areas remain dirty .</p>
            </div>
            <div class="col-lg-4">
                <p>Anyone that finds a place with uncollected trash according to the local schedule can file a complaint that will be instantly delivered to the responsible authority so they can take immediate action. Places with the most complaints will be marked as high priority.</p>
            </div>
            <div class="col-lg-8 offset-lg-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Learn More
                </a>
            </div>
        </div>
    </div>
</section>
