<body>
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">reset password</h2>
    <p>Enter your username and an email with password recovery instructions will be sent</p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputUsername" placeholder="Username" class="form-control" [(ngModel)]="username" name="username">
    <br>
    <div *ngIf="errorMessage" class="alert alert-danger font-weight-bold" role="alert">
      {{errorMessage}}
    </div>
    <div *ngIf="successMessage" class="alert alert-success font-weight-bold" role="alert">
      {{successMessage}}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="reset_password()">Reset Password</button>
  </form>

</div> <!-- /container -->
</body>
