<div>
  <h2>Create a complaint</h2>
  <form>

    <div class="form-group">
      <label>Location</label>
      <input placeholder="Search location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #locationInput [(ngModel)]="location" name="location">
      <sebm-google-map style="height: 40vh;" [latitude]="mapPosition.latitude" [longitude]="mapPosition.longitude" (mapClick)="setPosition($event)">
        <sebm-google-map-marker [latitude]="markedCoords.latitude" [longitude]="markedCoords.longitude"></sebm-google-map-marker>
      </sebm-google-map>
    </div>
    <button type="submit">Create</button>
  </form>
</div>
